<div class="mt-8 w-3/6">
  <h2 class="tuiter-title-md">Editar Usuario</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-8">
      <%= f.label :profile_picture, "Foto de Perfil" %>
      <%= f.text_field :profile_picture, autocomplete: "https://", class: "tuiter-form" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "tuiter-form" %>
    </div>

    <div class="field">
      <%= f.label :account, "Nombre de la Cuenta" %><br />
      <%= f.text_field :account, autocomplete: "@usuario", class: "tuiter-form" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="my-8">
      <div class="field">
        <%= f.label :password, "Contraseña" %> <i>(Dejala en blanco si no quieres cambiarla)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "tuiter-form" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> carácteres mínimo</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirma la contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "tuiter-form" %>
      </div>

    </div>

    <div class="bg-gray-50 p-2 rounded">
      <%= f.label :current_password %>
      <span class="font-light">(necesitamos tu contraseña actual para guardar los cambios)</span>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "tuiter-form" %>
    </div>

    <div class="actions">
      <%= f.submit "Guardar", class: "tuiter-button" %>
    </div>
  <% end %>

  <div class="flex mt-10 justify-between">
    <%= link_to "Regresar", :back %>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "¿cancelar la cuenta?" }, method: :delete, class:"rounded px-2 hover:bg-red-500 hover:text-white cursor-pointer" %>
  </div>

</div>
