<%# tweet card%>
<div class="max-w-3xl border-dashed border-2 rounded-md bg-gray-50 hover:bg-gray-50 mx-auto">
    <%# user details section %>
    <div class="flex space-x-1 p-1">
        <%# image %>
        <div>
            <div class="bg-cover bg-center rounded-full h-10 w-10 m-2 transition delay-75 ease-in-out" style="background-image: url(<%= tweet.user.profile_picture %>)"></div>
        </div>

        <%# account info section %>
        <div class="flex my-auto w-full justify-between">

            <%# account name %>
            <span class="font-medium select-none">@<%= tweet.user.account %></span>

            <%# tweet published at %>
            <div class="flex justify-end">
                <%# time published %>
                <span class="text-sm mr-4 font-light my-auto"> 
                    <%= link_to tweet_path(tweet) do %>
                    hace
                    <%= tweet.time_since_publish %>
                    <% end %>
                </span>
            </div>
        </div>
    </div>

    <%# content section %>
    <div class="mx-12 mb-8 font-light select-none">
        <%= tweet.content %>
    </div>
</div>