<div class="absolute inset-x-0 bottom-0 ml-10 mb-10 mr-2">

    <div class="mr-8">
        <%= link_to new_tweet_path do %>
            <div class="block transition delay-75 ease-in-out bg-blue-500 hover:bg-blue-600 text-center py-3 rounded-full text-white shadow-lg font-bold">Tuittear</div>    
        <% end %>
    </div>

    <div class="flex mt-10 rounded-full hover:bg-gray-300 justify-between transition delay-75 ease-in-out">
        <div class="my-auto ml-5">
            <span class="text-sm block font-medium text-gray-500 hover:text-gray-900"><%= link_to "Salir", destroy_user_session_path, method: :delete %></span>
        </div>
        
        <div class="text-left my-auto -ml-8 w-2/5">
            <span class="font-bold">@<%= current_user.account %></span>
            <span class="text-xs"><%= current_user.email %></span>
        </div>
        <%# TODO imagen perfil de usuario %>
        <%= link_to edit_user_registration_path do %>
            <div class="bg-cover bg-center rounded-full h-12 w-12 m-2 transition delay-75 ease-in-out hover:shadow-lg" style="background-image: url(<%= user.profile_picture %>)"></div>
        <% end %>
        
    </div>
</div>