
<div class="flex flex-row">
	<div class="flex-grow">
		<div class="flex flex-row h-14 bg-white sticky top-0 shadow-sm border-2 justify-between px-5 bg-opacity-75 backdrop-filter backdrop-blur-sm">
			<img src="https://cdn.pixabay.com/photo/2016/12/17/15/50/logo-1913689_1280.png" class="w-7 h-7 my-auto">
			
			<div class="my-auto">
				<%= form_with url: "/tweets", method: :get do |form| %>
					<%= form.text_field :query, class: "border-2 rounded-full px-2 w-96 h-10" %>
					<%= form.submit "Buscar", class: "p-2 px-5 rounded-full hover:bg-gray-300 cursor-pointer" %>
				<% end %>
			</div>

		</div>

		<div class="mt-3 mx-auto">
			<div class="space-y-1 mb-20">
				<p id="notice"><%= notice %></p>
				<p id="alert"><%= alert %></p>
				
				<% if params[:page].to_i >= 0 %>
					<% (@tweets.order(created_at: :desc)).each do |tweet| %>
						<%# tweets here %>
						<%= render "/tweets/tweet", tweet: tweet, retweet: Tweet.find_by(id: tweet.retweet_id) %>
					<% end %>

					<%= render 'more_tweets_buttons' %>
				<% end %>
			</div>
		</div>
	</div>
</div>