<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<table>
  <tbody>
    <% (@tweets.order(created_at: :desc)).each do |tweet| %>
      <tr>
        <td>
        <%= link_to tweet_path(tweet) do %>
          <%= tweet.time_since_publish %>
        <% end %>
        </td>
        
        <td><%= tweet.content %></td>
        <td><%= tweet.user.account %></td>
        <td>"fuente: <%= tweet.retweet_id %>"</td>

        <%# Retweets %>
        <td>"<%= tweet.retweets.count %> <%= (tweet.retweets.count) == 1 ? 'Retweet' : 'Retweets'%>"</td>
        <td><%= link_to 'Retweet', new_tweet_path(retweet_id: tweet.id) %></td>
        
        <%# Likes %>
        <td><%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? 'Like' : 'Likes'%></td>
        <td><%= render 'likes/like_buttons', tweet: tweet %></td>

        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @page > 0 %>
  <%= link_to "tweets anteriores", tweets_path(page: @page - 1) %>
<% end %>

<% if (@page + 1) < @pages %>
  <%= link_to "mostrar más tweets", tweets_path(page: @page + 1) %>
<% end %>


<br>
