<p id="notice"><%= notice %></p>

<div class="max-w-3xl mx-auto mt-10">
  <%= link_to 'Regresar', tweets_path, class: "bg-gray-100 hover:bg-gray-700 hover:text-white px-5 py-1 rounded" %>
  <div class="mt-2">
    <%= render '/tweets/tweet', tweet: @tweet, retweet: Tweet.find_by(id: @tweet.retweet_id) %>
  </div>
  <div>
    <% @tweet.likes.each do |account| %>
      <% user_pic = account.user.profile_picture %>
      <% if user_pic.nil? %>
        <p>
          <%= user_pic %>
        </p>
      <% else %>
        <p>
          default
          <%= account.user.account %> 
        </p>
      <% end %>
    <% end %>
  </div>
</div>


