<p id="notice"><%= notice %></p>

<div class="max-w-3xl mt-10">
  <div class="space-y-2 mt-2">
    <%= link_to 'Regresar', :back, class: "bg-gray-100 hover:bg-gray-700 hover:text-white px-5 py-1 rounded" %>
    <%= render '/tweets/tweet', tweet: @tweet, retweet: Tweet.find_by(id: @tweet.retweet_id) %>
  </div>

  <% if @tweet.likes.count > 0 %>
    <div class="mt-5 p-5 mx-auto">
      <p class="tuiter-title-md mr-5 text-right">Likes</p>
        <% @tweet.likes.each do |like| %>
          <% user = User.find_by(id: like.user_id) %>
          <div class="flex justify-end">
            <div class="my-auto text-gray-600 font-light select-none text-sm"><%= user.account %></div>
            <div class="shadow-sm border-2 bg-cover bg-center rounded-full h-8 w-8 m-2 transition delay-75 ease-in-out" style="background-image: url(<%= user.profile_picture %>)"></div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>


