<!DOCTYPE html>
<html>
  <head>
    <title>Tuiter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-screen">
    <% if user_signed_in? %>
      <%= link_to 'New Tweet', new_tweet_path %>
      <%= link_to "Edit", edit_user_registration_path %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% end %>

    <%= yield %>
  </body>
</html>
