<!DOCTYPE html>
<html>
  <head>
    <title>Tuiter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-row">
    <% if user_signed_in? %>
      <div class="h-screen flex flex-col flex-none w-1/4 justify-end bg-gray-50 p-5">
        <%= render "/tweets/sidebar/sidebar", user: current_user %>
      </div>

      <div class="w-screen h-screen overflow-auto px-2">
        <%= yield %>
      </div>

    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
