<!DOCTYPE html>
<html>
  <head>
    <title>Tuiter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-screen">
    <% if user_signed_in? %>
      <div class="static flex">
        <div class="h-full w-1/4">
          <div class="fixed h-full w-1/4 bg-gray-50">
            <%= render "/tweets/sidebar" %>
          </div>
        </div>
        <div class="w-3/4 ml-10">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
